sw/router_PSM/build/
sw/intel_PSM/build/

*.log
*.mem
*.fmt
*.bak

build/*
!build/Makefile

sw/host_pc/.metadata
sw/node_sw/.metadata


sim/.*
sim/node_sw_sim/.*
sim/node_sw_sim/RemoteSystemsTempFiles
sim/questa_lib/
sim/work/
sim/xpm/
sim/modelsim.ini

*.wlf
.settings
.directory
transcript

#TODO: review
scripts/build_centurion_VC707.tcl
scripts/pcie_bd.tcl
scripts/setup_centurion_VC707.tcl
write_tcl_centurion_axi.tcl
write_tcl_centurion_vc707.tcl

*.*~
